<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PanelShareSearch">
		<size>274,365</size>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_KEYWORD" variable="m_textctrl_keyword" member="yes">
			<value>请输入</value>
			<pos>16,32</pos>
			<size>240,32</size>
		</object>
		<object class="wxListCtrl" name="ID_LISTCTRL_SHARE_LIST" variable="m_listctrl_sharelist" member="yes">
			<pos>16,72</pos>
			<size>240,280</size>
		</object>
	</object>
</wxsmith>
