<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="RichMainFrame">
		<title>东方巴菲特</title>
		<icon stock_id="wxART_QUESTION" />
		<size>364,600</size>
		<bg>wxSYS_COLOUR_MENUTEXT</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxWANTS_CHARS</style>
	</object>
</wxsmith>
